* {
  text-shadow: 5px 5px 5px black;
  cursor: url("cursor.png"), auto;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(body-background.jpg);
  background-position: left;
}

label {
  font-family: cursive;
}

.btn {
  background: linear-gradient(to right, #42d1e1 0%, #1869ff 100%);
  cursor: url("hand.png"), auto !important;
}

.btn:hover {
  background: linear-gradient(to right, #2ea3af 0%, #002975 100%);
}

.btn:active {
  background: #000000 !important;
  box-shadow: 0 5px #5f5858 !important;
  transform: translateY(4px);
}

.form-control {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://wallpapercave.com/wp/wp4678541.jpg);
  background-position: center;
  font-family: cursive;
  border-image: linear-gradient(#73fff8, #0b1cba) 30 !important;
}

.fs-1 {
  font-family: cursive;
}

.clearbox,.bgselect {
  background: black !important;
  color: aliceblue !important;
  border: aqua !important;
  border-width: 3px !important;
  border-style: solid !important;
}
.bgslide {
  color: aliceblue !important;
  border: aqua !important;
  border-width: 3px !important;
  border-style: solid !important;
}

.complexity{
 font-size: small;
}

option {
  cursor: url("hand.png"), auto !important;
}

.modal-content {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(modal_background.jpg);
  background-position: center;
}

#A,
#B,
#keynum {
  font-size: small;
  cursor: url("block.png"), auto !important;
}

input[type="range"] {
  width: 96%;
  height: 15px;
  background: rgb(24, 24, 24);
  background-image: linear-gradient(#a5fcff, #a5fcff);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #05f7ff;
  cursor: url("hand.png"), auto;
  box-shadow: 0 0 2px 0 #555;
  transition: .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #00c8cf;
  cursor: url("hand.png"), auto;
  box-shadow: 0 0 2px 0 #555;
  transition: .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #05f7ff;
  cursor: url("hand.png"), auto;
  box-shadow: 0 0 2px 0 #555;
  transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #00a6ab;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #00a6ab;
  /* cursor: url("hand.png"), auto; */
}

input[type="range"]::-ms-thumb:hover {
  background: #00a6ab;
  cursor: url("hand.png"), auto;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  cursor: url("cursor.png"), auto;
  background: transparent;
}

input[type="range"]::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

#service,
#C,
#pass {
  cursor: url("hand.png"), auto;
}